body {
	background-image: url(https://justeat.jensz12.com/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}
.img {
  margin: 30px;
}
.card {
  margin-bottom: 20px;
  background-color: #e9ecef;
}
.list-group-item {
  background-color: #e9ecef;
}
.jumbotron {
    margin-top: 70px;
}
a:link, a:visited {
	color: rgb(102, 102, 102);
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}
.hide {
  display: none;
}
.nav-link, .nav-item {
    color: #ffffff;
}
.btn {
	margin: 10px;
}